body {
    padding-bottom: 12px;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.form-input {
    padding: 10px 8px;
    border: 2px solid #3A4750;
    border-radius: 25px;
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fefefe;
}

.label-small {
    font-size: 12px;
    color: #3A4750
}

select {
    background-color: #eef6f6;
    border: 2px solid #3A4750;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5px;
    margin-top: -12px;
    align-self: center;
    width: calc(100% - 30px)
}

.time-info {
    font-family: 'Poppins', sans-serif;
}
.time-info input {
    width: 45%;
    margin-right:16px;
    
}

.time-info select {
    width: 45%;
    margin-right: 0;
}

.time-info input[type=checkbox] {
    width: 15px;
    margin: 5px;
}

.count-container {
    display: flex;
    justify-content: space-between
}

.count {
    font-family: 'Poppins', sans-serif;
    width: 30px;
    border: none;
    text-align: center;
    border-bottom: 1px solid black;
}

.submit-btn {
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #00ADB5;
    color: #eee;
    border: none;
    border-radius: 100px;
    padding: 10px;
    margin: 20px;
    align-self: center;
}

.error-msg {
    text-align: center;
}

