.nav-bar {
    background-color: #303841;
    color: #fff;
    margin: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
}

li {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}